{{ template "base" . }}

{{ define "title" }}Create Account{{ end }}

{{ define "head" }}
<script>
	const createAccInputValidator = () => {
		return {
			submitDisabled: true,
			onInput() {
				if (this.$refs.password.value !== this.$refs.confirmPassword.value) {
					if (this.$refs.confirmPassword.value !== '') {
						this.$refs.confirmPassword.style = 'border-color: #F87171;' // border-red-400
					}

					this.submitDisabled = true
					return
				}

				this.$refs.confirmPassword.style = ''

				this.submitDisabled = false
			}
		}
	}
</script>
{{ end }}

{{ define "content" }}
<div class="p-8 select-none">
	<div class="w-80 mx-auto bg-white rounded-2xl shadow-xl">
		<div class="relative h-48 bg-blue-500 rounded-t-2xl">
			<svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
				<path fill="#ffffff" fill-opacity="1" d="M0,64L48,80C96,96,192,128,288,128C384,128,480,96,576,85.3C672,75,768,85,864,122.7C960,160,1056,224,1152,245.3C1248,267,1344,245,1392,234.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
			</svg>
		</div>
		<div class="px-10 pt-4 pb-8">
			<h1 class="text-2xl font-semibold text-gray-900">Welcome!</h1>
			<form method="post" x-data="createAccInputValidator()">
				<div class="relative mt-6">
					<input x-ref="username" class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-400 valid:border-blue-400" type="text" name="username" id="username" placeholder="Username" autofocus required />
					<label class="absolute left-0 -top-3.5 text-sm text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:cursor-text peer-focus:cursor-default peer-focus:-top-3.5 peer-focus:text-sm" for="username">Username</label>
				</div>
				<div class="relative mt-6">
					<input @input="onInput()" x-ref="password" class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-400 valid:border-blue-400" type="password" name="password" id="password" placeholder="Password" required />
					<label class="absolute left-0 -top-3.5 text-sm text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:cursor-text peer-focus:cursor-default peer-focus:-top-3.5 peer-focus:text-sm" for="password">Password</label>
				</div>
				<div class="relative mt-6">
					<input x-ref="confirmPassword" @input="onInput()" class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-400 valid:border-blue-400" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" required />
					<label class="absolute left-0 -top-3.5 text-sm text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:cursor-text peer-focus:cursor-default peer-focus:-top-3.5 peer-focus:text-sm" for="confirm-password">Confirm Password</label>
				</div>

				<button type="submit" x-bind:disabled="submitDisabled" value="Sign Up" class="mt-10 px-4 py-2 rounded bg-blue-500 hover:bg-blue-400 text-white text-center block w-full focus:ring focus:ring-offset-2 focus:ring-opacity-80 cursor-pointer disabled:cursor-not-allowed">
					Sign Up
				</button>
			</form>
		</div>
	</div>
</div>
{{ end }}