{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Enterprise Notes - {{ template "title" . }}</title>
	<link rel="stylesheet" href="/static/style.css">
	<script defer src="/static/alpine.js"></script>
	{{ template "head" . }}
</head>
<body class="bg-gray-200">
	<nav class="bg-blue-600 text-white font-semibold tracking-wide shadow">
		<ul class="flex max-w-3xl mx-auto py-2">
			<li>
				<a href="/" class="block px-4 py-2 hover:text-blue-100">Home</a>
			</li>
			<div class="flex-1"></div>
			{{ if .User }}
			<li>
				<a href="/user/me" class="block px-4 py-2 hover:text-blue-100">Account</a>
			</li>
			{{ else }}
			<li>
				<a href="/user/signin" class="block px-4 py-2 hover:text-blue-100">Sign In</a>
			</li>
			<li>
				<a href="/user/create" class="block px-8 py-2 hover:bg-white hover:text-blue-600 rounded border-2 border-white">Sign Up</a>
			</li>
			{{ end }}
		</ul>
	</nav>
	<div class="h-full flex justify-center items-center">
		{{ template "content" . }}
	</div>
</body>
</html>
{{ end }}